@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    user-select: none;
}
:root {
    --select-background-color: rgb(68, 60, 60);
    --select-text-color: white;
    --primary-border-color: rgb(95, 92, 92);
}
#background-img {
    position: fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    z-index: -1;
}
#background-img img {
    position: absolute;
    inset: 0;
    margin: auto;
    min-width: 50%;
    min-height: 50%;
    opacity: 0.15;
    background-repeat: repeat-y;
}
.container {
    width: 100%;
    min-height: 65vh;
    gap: 1em;
    margin-top: 45px;
}
h1 {
    padding-top: 10px;
    font-size: 1.8rem;
    text-transform: uppercase;
}
.heading {
    border-bottom: 6px solid var(--primary-border-color);
    width: fit-content;
}
.alert-box {
    border: 2px solid black;
    width: fit-content;
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 20px;
}
#board-container {
    background-color: rgb(209, 206, 206);
    height: 450px;
    width: 450px;
}   
#options-container {
    max-width: 300px;
    gap: 5px;
}
.block {
    width: calc(100% / 9);
    height: calc(100% / 9);
    border: 1px solid var(--primary-border-color);
    font-size: 22px;
    transition: all 200ms ease;
}
.options {
    width: 50px;
    height: 50px;
    border: 2px solid var(--primary-border-color);
    font-size: 22px;
    transition: all 200ms ease;
}
.options:hover {
    background-color: var(--select-background-color);
    color: var(--select-text-color);
}
.panel {
    gap: 1em;
}
.selected-color {
    background-color: var(--select-background-color);
    color: var(--select-text-color);
}
.buttons-container {
    gap: 5px;
    display: flex;
    flex-direction: column;
}
button {
    padding: 10px 25px;
    font-size: 1.3rem;
    transition: all 100ms ease;
}
.start {
    background-color: rgb(70, 185, 70);
}
.start:hover {
    background-color: rgb(25, 227, 25);
    color: var(--select-text-color);
}
.stop {
    background-color: rgb(229, 143, 143);
}
.stop:hover {
    background-color: red;
    color: var(--select-text-color);
}
@media (max-width: 974px) {
    .container {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    #board-container {
        height: 400px;
        width: 400px;
    }
}
@media (max-width: 492px) {
    .panel {
        flex-direction: column;
    }
    #options-container {
        justify-content: center;
    }
    .buttons-container {
        flex-direction: row;
    }
    #board-container {
        height: 350px;
        width: 350px;
    }
}
@media (max-width: 378px) {
    #board-container {
        height: 300px;
        width: 300px;
    }
    .block {
        font-size: 18px;
    }
    h1 {
        font-size: 1.5rem;
    }
}